body {
  font-family: "Muli", sans-serif;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
  position: relative;
}

.navbar {
  position: fixed;
  display: grid;
  align-items: center;
  grid-template-columns: 7% 0.5fr 1.2fr 100px 1px;
  padding-top: 1.4rem;
  z-index: 10;
  width: 100%;
}

.shadow {
  box-shadow: 3px 14px 40px -5px rgba(0,0,0,0.75);
}

.brand{
  font-weight: 900;
  font-size: 1.25rem;
  grid-column: 2 / 3;
  color: #fff;
  text-decoration: none;
}

.brand-scroll{
  color: #000;
}

.brand span{
  color: red;
}

ul{
  grid-column: 3 / 4;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  color: #fff;
}

@media (min-width: 768px){
  .navbar-expand-md .navbar-nav .nav-link {
    margin-right: 2rem;
    margin-left: .5rem;
    padding-left: 0;
    padding-right: 0;
  }
}

.bg-transparent {
  background: transparent;
  transition: all 0.5s ease;
}

.bg-white {
  background-color: #fff;
  transition: all 0.5s ease;
  padding: 0.6rem 0;
}

.color-scroll{
  color: #000 !important;
}

.color-hamClick{
  color: #000;
}

.nav-link {
  font-size: 1.05rem;
}

.ham{
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 40px;
  grid-column: 4 / 5;
  cursor: pointer;
  position: relative;
}

.ham section{
  background: #fff;
  width: 30px;
  height: 3px;
}

.ham-overlay{
  position: absolute;
  height: 100%;
  width: 30px;
  background-color: transparent;
  z-index: 2000;
  border-radius: 50%;
  transform: scale(1);
  transition: all .5s ease;
}

.ham-overlay--click{
  transition: transform .8s ease;
  transform: scale(100);
  background: #fff;
  z-index: -1;
}

.ham--nav-links{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.ham--nav-links-display{
  display: none;
}

.ham--nav-links a:link,
.ham--nav-links a:visited {
  text-decoration: none;
  color: black;
  display: block;
  font-size: 2rem;
}

.ham--nav-links a:link:hover,
.ham--nav-links a:visited:hover {
  text-decoration: none;
  color: red;
}

.d-none{
  display: none;
}

@media (max-width: 780px){
  .d-none{
    display: flex;
  }

  ul{
    display: none;
  }

  .left-contact {
    width: 100%;
  }
}

.container-video {
  padding: 0 !important;
}

.video-wrapper {
  position: relative;
}

video{
  position: absolute;
  top: 0;
  width: 100%;
  height: 1080px;
  object-fit: cover;

}

.video-overlay{
  position: absolute;
  z-index: 1;
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  bottom: 0;
}


.video-content{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 250px;
  transform: translate(-50%,-50%);
  z-index: 5;
}

.video-content h2{
  text-align: center;
  text-transform: capitalize;
  color: rgb(223, 221, 221);
}

.video-content h2 span{
  display: block;
}

.video-content h2 span:nth-child(1){
  font-size: 3.8rem;
  font-weight: 900;
  /* line-height: 2; */
}

@media (max-width: 1264px){
  .video-content h2 span:nth-child(1){
    font-size: 3.2rem;
  }
}

@media (max-width: 1060px){
  .video-content h2 span:nth-child(1){
    font-size: 2.8rem;
  }
}

@media (max-width: 900px){
  .video-content h2 span:nth-child(1){
    font-size: 2.3rem;
    line-height: 1;
  }
}

.video-content h2 span:nth-child(2){
  margin-top: 25px;
  font-size: 1.5rem;
  font-weight: 300;
  width: 60%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 1233px){
  .video-content h2 span:nth-child(2){
    width: 70%;
    font-size: 1.25rem;
  }
}

.btn_get {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: #fff !important;
}

.btn_get:hover {
  color: #000 !important;
  cursor: pointer;
}


.left-contact{
  width: 55%;
  background: #F3452E;
  position: absolute;
  bottom: -62.5px;
  height: 125px;
  z-index: 5;
  clip-path: polygon(0 0, 100% 0, 700px 100%, 0 100%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
}

@media (max-width: 1100px){
  .left-contact{
    width: 600px;
  }
}

@media (max-width: 610px){
  .left-contact{
    width: 400px;
  }
}


.left-contact section:first-child span{
  display: block;
  line-height: 2;
}

.left-contact section:first-child span:first-child{
  font-weight: 700;
  font-size: 1.2rem;
}

.left-contact section:first-child span:nth-child(2){
  font-weight: 300;
  font-size: 1.2rem;
}

@media (max-width: 592px){
  .left-contact section:first-child span:first-child{
    font-size: 1rem;
  }

  .left-contact section:first-child span:nth-child(2){
    font-size: 1rem;
  }
}


.left-contact section a{
  display: inline-block;
  background: #F89E2E;
  color: #fff;
  text-decoration: none;
  padding: 15px 25px;
  font-weight: 900;
  font-size: 0.8rem;
  border-radius: 5px;
}

.left-contact section:first-child a{
  display: none;
}

@media (max-width: 768px){
  
  .left-contact{
    height: 150px;
  }
  
  .left-contact section a{
    display: inline-block;
    background: #F89E2E;
    color: #fff;
    text-decoration: none;
    padding: 15px 25px;
    font-weight: 700;
    font-size: 0.8rem;
    border-radius: 5px;
    text-align: center;
  }
  
  .left-contact section:last-child a{
    display: none;
  }
  
  .left-contact section:first-child a{
    display: inline-block;
    margin-top: 10px;
  }
  
  .get-healthy p:last-child{
    width: 95% !important;
  }
  
}

.get-healthy{
  margin-top: 200px;
  text-align: center;
  color: #777;
}

.get-healthy p{
  font-size: 1rem;
  font-weight: 300;
}

.get-healthy p:first-child{
  font-size: 1.2rem;
}

.get-healthy h2 {
  font-size: 3rem;
  color: #000;
  font-weight: 900;
}

.get-healthy p:last-child{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 590px){
  .btn_get {
    display: none;
  }

  .left-contact {
    justify-content: space-between;
  }

  .left-contact section {
    margin-left: 50px;
  }
}